<h2>Publications</h2>
<ul>
  <li>Roberts JD, Ray R, Biles A, <strong>Knight B</strong>, Saelens BE. Built environment and active play among D.C. Metropolitan children: A protocol for a cross-sectional study. Arch Public Health. [Accepted]</li>
  <li>Roberts JD, Voss JD, <strong>Knight B</strong>. The association of ambient air pollution and physical inactivity in the United States. PLoS ONE. 2014;9(3):e90143.</li><br>
  <li>Potter EG, Cheng Y, <strong>Knight JB</strong>, Gordish-dressman H, Natale JE. Basic science; metallothionein I and II attenuate the thalamic microglial response following traumatic axotomy in the immature brain. J Neurotrauma. 2007;24(1):28-42.</li><br>
  <li>Natale JE, <strong>Knight JB</strong>, Cheng Y, Rome JE, Gallo V. Metallothionein I and II mitigate age-dependent secondary brain injury. J Neurosci Res. 2004;78(3):303-14.</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/geobrando">Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/geobrando">GitHub Repository</a>
  </li>
  <li class="fa-ul main-list">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/brandonknight">LinkedIn</a>
  </li>
  <li class="fa-ul main-list">
    <span class="fa fa-instagram fa-lg main-list-item-icon"></span>
    <a href="https://instagram.com/geobrando/">Instagram</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:geobrando{AT}mail.com">geobrando@mail.com</a>
</ul>
